@import './variables.scss';

.nav-animate__header.vue-fixed-header--isFixed {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
}
.nav-animate {
    &__header {
        width: 100%;
        height: $header-height;
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 2;
    }

    &__hamburger-container {
        height: $header-height;
        width: $header-height;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        &:hover {
            .nav-animate__hamburger-bar {
                background-color: $blacky-browny-grey;
            }
        }
    }

    &__hamburger-bar {
        width: 75%;
        height: 10%;
        border-radius: 5rem;
        background-color: $hamburger-color;
        opacity: $hamburger-opacity;

        &--top-animated {
            animation: top-crossover 0.5s;
            animation-fill-mode: forwards;
        }

        &--center-animated {
            animation: center-crossover 0.5s;
            animation-fill-mode: forwards;
        }

        &--bottom-animated {
            animation: bottom-crossover 0.5s;
            animation-fill-mode: forwards;
        }

        &--bottom-close {
            animation: bottom-close 0.5s;
            animation-fill-mode: forwards;

        }

        &--center-close {
            animation: center-close 0.7s;
            animation-fill-mode: forwards;
        }

        &--top-close {
            animation: top-close 0.5s;
            animation-fill-mode: forwards;
        }
    }
}

@keyframes top-crossover {
    from {
        transform: rotate(0deg);
        opacity: 0.25;
    }
    to {
        opacity: 1;
        transform: translate(0, 1.75vh) rotate(45deg);
        width: 40%;
        height: 10%
    }
}

@keyframes center-crossover {
    from {
        transform: rotate(0deg);
        opacity: 0.25;
    }
    to {
        transform: rotate(50deg);
        opacity: 0;
    }
}

@keyframes bottom-crossover {
    from {
        transform: translate(0, 0);
        opacity: 0.25;
    }
    to {
        opacity: 1;
        transform: translate(0, -1.55vh) rotate(-45deg);
        width: 40%;
        height: 10%;
    }
}

@keyframes bottom-close {
    from {
        opacity: 0.25;
        transform: translate(0, -1.55vh) rotate(-45deg);
        width: 40%;
        height: 10%;
    }
    to {
        opacity: $hamburger-opacity;
        transform: translate(0, 0) rotate(0);
        width: 75%;
        height: 10%;
    }
}

@keyframes center-close {
    from {
        transform: rotate(50deg);
        opacity: 0;
    }
    to {
        transform: rotate(0);
        opacity: $hamburger-opacity;
    }
}

@keyframes top-close {
    from {
        opacity: 0.25;
        transform: translate(0, 1.75vh) rotate(45deg);
        width: 40%;
        height: 10%
    }
    to {
        opacity: $hamburger-opacity;
        transform: translate(0, 0) rotate(0);
        width: 75%;
        height: 10%
    }
}