// Variables
@import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive|Permanent+Marker&display=swap');

$header-height: 6vh;
$hamburger-opacity: 0.5;
$hamburger-opacity-hover: 1;
$hamburger-color: #d2dae2;
$hamburger-alternate-color: #d1d8e0;

$brand-black: #1e272e;
$brand-dark-grey: #778ca3;
$brand-font: 'Permanent Marker', cursive;
$quote-font: 'Cedarville Cursive', cursive;

$campaign-yellow: #ffdd59;
$blacky-browny-grey: #3d3d3d;
